/* header element styles start */
header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: rgba(229, 84, 115, 0.1);
}

.banner {
  width: 80%;
  height: 489px;
  height: auto;
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

.banner__content {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 120px;
}

.banner__content-heading {
  width: 90%;
  height: auto;
  font-size: 2rem;
  line-height: 50px;
}

.banner__content-description {
  width: 90%;
  height: auto;
  font-size: 0.7rem;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.shop-btn {
  height: 49px;
  width: 40%;
  font-size: 0.8rem;
  line-height: 15px;
}

.banner__image {
  width: 100%;
  height: 416px;
  margin-top: -80px;
}
/* header element ends here */

/* main element starts here */

/* feature section start */
.feature-section {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.feature__title {
  width: 90%;
  height: auto;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 5px;
}

.feature__description {
  width: 90%;
  height: auto;
  color: rgba(39, 39, 39, 0.6);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
/* feature section end */

/* flower section container start */
.flower-section-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

.flower-content p {
  width: 90%;
  height: auto;
  font-size: 0.9rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}
/* flower section container end */
