/* header element styles start */
header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: rgba(229, 84, 115, 0.1);
}

.banner {
  width: 80%;
  height: 489px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.banner__content {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 120px;
}

.banner__content-heading {
  width: 90%;
  height: auto;
  font-size: 2rem;
  line-height: 50px;
}

.banner__content-description {
  width: 90%;
  height: auto;
  font-size: 0.7rem;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.shop-btn {
  height: 49px;
  width: 40%;
  font-size: 0.8rem;
  line-height: 15px;
}

.banner__image {
  width: 100%;
  height: 316px;
  margin-top: -70px;
  margin-bottom: 50px;
}
/* header element ends here */

/* main element starts here */

/* feature section start */
.feature-section {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.feature__title {
  width: 90%;
  height: auto;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 5px;
}

.feature__description {
  width: 90%;
  height: auto;
  color: rgba(39, 39, 39, 0.6);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
/* feature section end */

/* flower section container start */
.flower-section-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

.flower-img {
  width: 283px;
  height: 414px;
  width: 100%;
  height: auto;

  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower-img img {
  width: 189px;
  height: 329px;
  margin-top: 85px;
}

.flower-content p {
  width: 90%;
  height: auto;
  font-size: 0.9rem;
}
/* flower section container end */

/* support section container start */
.support-section {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.support__card {
  padding: 20px;
}

.support__card img {
  max-width: 47px;
  height: 63px;
  margin-bottom: 10px;
}

.support__card-caption {
  width: 90%;
  height: auto;
  font-size: 0.9rem;
  line-height: 30px;
}
/* support section container end */

/* sale section container start */
.sale-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sale__content {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.sale__content-title {
  width: 90%;
  height: auto;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
}

.sale__content-description {
  width: 90%;
  height: auto;
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 20px;
}

.sale__content-btn {
  width: 40%;
  height: 49px;
  font-size: 1rem;
  font-weight: 700;
}

.sale__image {
  width: 90%;
  height: 346px;
  margin-top: 40px;
}

.sale__image img {
  width: 100%;
  height: 100%;
}
/* sale section container end */

/* instagram-section start */
.instagram-section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 61px;
}

.instagram-title {
  width: 90%;
  height: auto;
  margin: 0 auto;
  color: rgb(39, 39, 39);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 38px;
  text-align: center;
  margin-bottom: 10px;
}

.instagram-description {
  width: 90%;
  height: auto;
  margin: 0 auto;
  color: rgba(39, 39, 39, 0.6);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
/* instagram section end */

/* image section start */
.image-section {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-radius: 2px;
  margin: 0 auto;
  margin-top: 28px;
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.images {
  width: 100%;
  height: auto;
}

.images img {
  width: 100%;
  height: auto;
}
/* image section end */

/* latest-deal-section start */
.latest-deal-section {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.latest-deal-text-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.latest-deal-text-content h3 {
  width: 90%;
  height: auto;
  color: rgb(39, 39, 39);
  font-size: 1.5rem;
  text-align: center;
}

.latest-deal-text-content p {
  width: 90%;
  height: auto;
  font-size: 0.7rem;
  text-align: center;
}

.latest-deal-form-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.latest-deal-form-content input[type="email"] {
  width: 100%;
  height: 50px;
  margin-right: 6px;
  margin-bottom: 15px;
  padding: 0;
}

.latest-deal-form-content input[type="email"]::placeholder {
  font-size: 0.7rem;
  text-align: center;
}

.latest-deal-form-content input[type="button"] {
  width: 100%;
  border-radius: 8px;
  font-size: 0.7rem;
  text-align: center;
  cursor: pointer;
}
/* latest-deal-section end */

/* footer element starts */
.footer-element {
  width: 100%;
  height: auto;
  background: rgb(17, 16, 16);
  margin-top: 50px;
}

.footer-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.footer-element h2 {
  width: 80%;
  height: auto;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5px;
}

.footer-element h6 {
  width: 90%;
  height: auto;
  font-size: 0.7rem;
  margin-bottom: 22px;
}

.footer-element p {
  width: 90%;
  height: auto;
  font-size: 0.7rem;
}
/* footer element end */
