/* font family added */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

.display-hide {
  display: none;
}

#bg-1 {
  background: rgba(5, 151, 160, 0.15);
}

#bg-2 {
  background: rgba(71, 125, 17, 0.15);
}

/* header element styles start */
header {
  width: 100%;
  height: 552px;
  margin: 0 auto;
  background: rgba(229, 84, 115, 0.1);
}

.banner {
  width: 80%;
  height: 489px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__content {
  width: 432px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 61px;
}

.banner__content-heading {
  width: 432px;
  height: 222px;
  color: rgb(39, 39, 39);
  font-size: 3rem;
  font-weight: 800;
  line-height: 59px;
}

.banner__content-description {
  width: 387px;
  height: 69px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 20px;
  margin-top: -19px;
  margin-bottom: 10px;
}

.shop-btn {
  width: 108px;
  height: 49px;
  padding: 12px 26px;
  border-radius: 8px;
  background: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 15px;
  border: none;
  cursor: pointer;
}

.banner__image {
  width: 387px;
  height: 616px;
  background-image: url(../images/banner-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* header element ends here */

/* main element starts here */

/* feature section start */
.feature-section {
  width: 70%;
  height: 101px;
  margin: 0 auto;
  margin-top: 61px;
}

.feature__title {
  width: 100%;
  height: auto;
  color: rgb(39, 39, 39);
  font-size: 1.52rem;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 5px;
}

.feature__description {
  width: 100%;
  height: 46px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
/* feature section end */

/* flower section container start */
.flower-section-container {
  width: 80%;
  height: 466px;
  margin: 0 auto;
  margin-top: 61px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flower-content {
  margin: 0 auto;
}

.flower-img {
  width: 283px;
  height: 414px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower-img img {
  width: 189px;
  height: 329px;
  margin-top: 85px;
}

.flower-content p {
  color: rgb(39, 39, 39);
  font-size: 0.91rem;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 15px;
  cursor: pointer;
}
/* flower section container end */

/* support section container start */
.support-section {
  width: 80%;
  height: 195px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 0 auto;
  margin-top: 61px;
  margin-bottom: 61px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.support__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.support__card img {
  max-width: 47px;
  height: 63px;
  margin-bottom: 10px;
}

.support__card-caption {
  color: rgba(39, 39, 39, 0.8);
  font-size: 0.91rem;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
}
/* support section container end */

/* sale section container start */
.sale-section {
  width: 100%;
  height: 477px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sale__content {
  width: 362px;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale__content-title {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 38px;
  text-align: left;
  margin-bottom: 10px;
}

.sale__content-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.sale__content-btn {
  padding: -1px 33px;
  border-radius: 8px;
  background: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 95px;
  height: 49px;
}

.sale__image {
  max-width: 194px;
  height: 346px;
}

.sale__image img {
  width: 100%;
  height: 100%;
}
/* sale section container end */

/* instagram-section start */
.instagram-section {
  width: 70%;
  height: 102px;
  margin: 0 auto;
  margin-top: 61px;
}

.instagram-title {
  color: rgb(39, 39, 39);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 38px;
  text-align: center;
  margin-bottom: 10px;
}

.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
/* instagram section end */

/* image section start */
.image-section {
  width: 80%;
  height: 246px;
  border-radius: 2px;
  margin: 0 auto;
  margin-top: 28px;
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
}

.images {
  width: 209px;
  height: 305px;
}

.images img {
  width: 100%;
  height: auto;
}
/* image section end */

/* latest-deal-section start */
.latest-deal-section {
  width: 80%;
  height: 346px;
  border-radius: 8px;
  border: 2px solid whitesmoke;
  margin: 0 auto;
  margin-top: 128px;
  background-image: url("../images/latest-deals-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest-deal-text-content {
  width: 276px;
  height: 73px;
  margin: 0 auto;
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-deal-text-content h3 {
  color: rgb(39, 39, 39);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
}

.latest-deal-text-content p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.latest-deal-form-content {
  width: 531px;
  height: 64px;
  margin: 0 auto;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-deal-form-content input[type="email"] {
  width: 427px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 255, 255);
  margin-right: 6px;
  padding-left: 12px;
}

.latest-deal-form-content input[type="email"]::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
}

.latest-deal-form-content input[type="button"] {
  width: 92px;
  height: 49px;
  border-radius: 8px;
  border: none;
  background: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
/* latest-deal-section start */

/* footer element starts */
.footer-element {
  width: 100%;
  height: 376px;
  background: rgb(17, 16, 16);
  margin-top: 79px;
}

.footer-content {
  width: 381px;
  height: 308px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-element h2 {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.footer-element .flower-span {
  color: rgb(229, 84, 115);
}

.footer-element h6 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 22px;
}

.footer-element p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}
/* footer element end */
